@page "/maps"
@attribute [Authorize(Roles = "Administrator, GameMaster")]
@using DigitalWorldOnline.Commons.Enums;
@using DigitalWorldOnline.Commons.ViewModel.Maps;

<PageTitle>DSO - Admin</PageTitle>

<MudExpansionPanels Elevation="2" Style="padding-bottom:15px">
    <MudExpansionPanel>
        <TitleContent>
            <MudStack Row="true" Spacing="2">
                <MudIcon Icon="@Icons.Material.Filled.FilterAlt" class="mr-3"></MudIcon>
                <MudText>Filters</MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudTextField T="string" @ref="_filterParameter" Label="Map Id or Name" Variant="Variant.Outlined" ValueChanged="Filter"></MudTextField>
                </MudItem>

                <MudItem xs="12" Class="d-flex">
                    <div class="d-flex ml-auto">
                        <MudStack Row="true" Spacing="2">
                            <MudButton Color="Color.Inherit" Variant="Variant.Filled" OnClick="Clear">Clear</MudButton>
                            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Refresh">Refresh</MudButton>
                        </MudStack>
                    </div>
                </MudItem>

            </MudGrid>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>
<MudTable FixedHeader="true"
            FixedFooter="false"
            ServerData="@(new Func<TableState, Task<TableData<MapViewModel>>>(ServerReload))"
            Hover="true"
            SortLabel="Order by"
            Loading="true"
            @ref="_table"
            Elevation="2">
    <ToolBarContent>
        <MudStack Row="true" Spacing="2">
            <MudIcon Icon="@Icons.Material.Filled.Map" Class="icon-title"></MudIcon>
            <MudText Typo="Typo.h5"><b>Maps</b></MudText>
        </MudStack>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="MapId" T="MapViewModel"><b>Id</b></MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="Name" T="MapViewModel"><b>Name</b></MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel Enabled="false" T="MapViewModel"><b>Mobs</b></MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel Enabled="false" T="MapViewModel"><b>Actions</b></MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="MapId">@context.MapId</MudTd>
        <MudTd DataLabel="Email">@context.Name</MudTd>
        <MudTd DataLabel="Mobs">@context.MobsCount</MudTd>
        <MudTd>
            <MudIconButton Icon="@Icons.Material.Filled.PinDrop" OnClick="@(() => ViewSpawnPoints(context.Id))" Title="Spawn Points" Size="Size.Small"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" OnClick="@(() => ViewMobs(context.Id))" Title="Mobs" Size="Size.Small"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.WarningAmber" OnClick="@(() => ViewRaids(context.Id))" Title="Raids" Size="Size.Small"></MudIconButton>
            @*<MudIconButton Icon="@Icons.Material.Filled.ResetTv" OnClick="@(() => Reset(context.Id))" Title="Reset" Size="Size.Small"></MudIconButton>*@
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No data found.</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Agumon is bringing the data, wait a second...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager InfoFormat="Showing {first_item}-{last_item} of {all_items}"
                        PageSizeOptions="new int[]{10, 25, 50, 100}"
                        HorizontalAlignment="HorizontalAlignment.Center"
                        RowsPerPageString="Rows per page:" />
    </PagerContent>
</MudTable>